body{
    height: 200vh;
    background: white;
}
    
.flex{
    display: flex;
    gap: 3px;
}

.row{
    flex-direction: row;
}

.just-center{
    justify-content: center;
}

nav{
    position: sticky;
    top:10px;
    z-index: 100;

    background-color: green;
    padding: 10px;
    border-radius: 10px;
    width:70% ;

    margin: auto;
}
.tab{
    color: aliceblue;
}



.icon{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: greenyellow
}

a {
    text-decoration: none;
}



@media(min-width: 760px)
{
    nav{
        width: 80%;
    }
}